/* 노멀라이징 */
* {
  padding: 0;
  margin: 0;

  font-family: "Noto Sans KR", sans-serif;
  font-family: "Roboto", sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  list-style: none;
}
@font-face {
  font-family: "123";
  src: url(../font/billabong.ttf);
}
@font-face {
  font-family: "456";
  src: url(../font/OPTIAlternateGothic-TwoAg.otf);
}

/*라이브러리*/
.cell {
  float: left;
}
.cell-c {
  float: center;
}
.cell-r {
  float: right;
}
.row::after {
  clear: both;
  content: "";
  display: block;
}

ul,
li {
  margin: 0;
  padding: 0;
}

.con {
  width: 1420px;
  margin: 0 auto;
}

/* 스타일 */
.big-section {
  position: relative;
}
.header {
  width: 100%;
  height: auto;
  position: fixed;
  z-index: 97;
  top: 0;
  background: #fff;
  transition: 0.4s;
}
.header.active {
  position: fixed;
  top: -125px;
  transition: 0.4s;
}

.header > .login-bar {
  width: 100%;
  height: 37px;
  background-color: #f0f0f0;
}
.header > .login-bar > .con > ul {
  display: flex;
}
.header > .login-bar > .con > ul > li {
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  position: relative;
}
.header > .login-bar > .con > ul > li >a> .xi-cart-o::after{
  content : "0";
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #1682ff;
  color: #fff;
  font-size: 10px;
  text-align: center;
  line-height: 12px;
  border-radius: 50%;
  top : -3px;
  right : -2px;
}

.logo-bar {
  width: 100%;
  height: 90px;
  background-color: #fff;
  padding-top: 41px;
}
.logo-bar > .con {
  height: 100%;
  position: relative;
}
.logo-bar > .con > .img-box {
  width: 211px;
  height: 41px;
  margin: 0 auto;
}
.logo-bar > .con > .side-img-box {
  position: absolute;
  top: 30%;
  right: 0;
  transform: translatey(-50%);
}
.menu-bar {
  width: 100%;
  height: 78px;
  background: #fff;
  z-index: 100;
}
.menu-bar > .con {
  height: 100%;
  background-color: #ffffff;
  position: relative;
  
}
.menu-bar > .con > .menu-box {
  position: absolute;
  top: 0%;
  left: 0px;
  cursor: pointer;
}
.menu-bar > .con > .menu-box > .txt {
  margin-top: 27px;
  margin-left: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  color: #1682ff;
  font-weight : lighter;
}
.menu-bar > .con > ul {
  display: flex;
  justify-content: center;
  line-height: 78px;
  height: 100%;
}
.menu-bar > .con > ul > li {
  margin-right: 64px;
  margin-left: 64px;
  height: 78px;
  cursor: pointer;

  
}
.menu-bar > .con > ul > li {
  position: relative;
}
.menu-bar > .con > ul > li::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translatex(-50%);
  width: 0px;
  height: 3px;
  background: #1682ff;
  transition: width 0.3s;
}
.menu-bar > .con > ul > li:hover::after {
  width: 100%;
}
.hidden-wrap > .hidden-menu {
  position: fixed;
  top: 0;
  left: -370px;
  width: 370px;
  height: 100vh;
  background: #fff;
  transition: 0.8s;
  z-index: 100;
  display: block;
  border: 1px solid #1682ff;
  opacity: 0;
  visibility: hidden;
}
.hidden-wrap > .hidden-menu.active {
  left: 0;
  opacity: 1;
  visibility: visible;
}
.hidden-wrap > .hidden-menu > .top-logo-bar {
  margin-top: 40px;
  vertical-align: middle;
  position: relative;
}

.hidden-wrap > .hidden-menu > .top-logo-bar > .img1 {
  margin-top: 10px;
}
.hidden-wrap > .hidden-menu > .top-logo-bar > .img2-box {
  width: 38px;
  height: 54px;
  background-image: url("../img/btn_menu_icon_off.png");
  background-repeat: no repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  cursor: pointer;
  margin-right: 5px;
}
.hidden-wrap > .hidden-menu > .top-logo-bar > .img2-box::before {
  content: "";
  position: absolute;
  top: 60%;
  left: 17%;
  transform: translatex(-50%);
  background: white;
  width: 25px;
  height: 2px;
  transform: rotate(135deg);
}
.hidden-wrap > .hidden-menu > .top-logo-bar > .img2-box::after {
  content: "";
  position: absolute;
  top: 60%;
  left: 17%;
  transform: translatex(-50%);
  background: white;
  width: 25px;
  height: 2px;
  transform: rotate(45deg);
}
.hidden-wrap > .hidden-menu > ul {
  width: 100%;
  height: auto;
  margin-top: 20px;
}
.hidden-wrap > .hidden-menu > ul > li {
  position: relative;
  width: 100%;
  height: 100px;
  background: #fff;
  font-size: 30px;
  border-top: 1px solid #1682ff;
  text-align: left;
  line-height: 100px;
  color: #1682ff;
  box-sizing: border-box;
  padding-left: 30px;
  cursor: pointer;
  transition: 0.7s;
}

.hidden-wrap > .hidden-menu > ul > li:nth-child(6) {
  font-family: "123";
  font-size: 40px;
  background-image: url(../img/insta_icon.png);
  background-position: 30px 25px ;
  background-repeat: no-repeat;
  padding-left: 90px;
  color: black;
}
.hidden-wrap > .hidden-menu > ul > li:nth-child(7) {
  background-image: url(../img/youtube-icon.png);
  background-position: 30px 25px ;
  background-repeat: no-repeat;
  padding-left: 90px;
  color: black;
  font-weight: bold;
  font-family: "456";
  font-size: 40px;
}
.hidden-wrap > .hidden-menu > ul > li:nth-child(8) {
  border-bottom: 1px solid #1682ff;
  background-image: url(../img/blog-icon.png);
  background-position: 30px 25px ;
  background-repeat: no-repeat;
  padding-left: 90px;
}
.hidden-wrap > .hidden-menu > ul > li::after {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  background: #1682ff;
  top: 0;
  left: 0;
  transition: width 0.3s;
  line-height: 95px;
}
.hidden-wrap > .hidden-menu > ul > li:nth-child(6)::after{
  background: linear-gradient(to right top, #5231B4, #BB166F, #F66723);
}
.hidden-wrap > .hidden-menu > ul > li:nth-child(7)::after{
  
background: linear-gradient(45deg, #F20746, red);
}
.hidden-wrap > .hidden-menu > ul > li:nth-child(8)::after{
  
background-color: #2db400;
  }
.hidden-wrap > .hidden-menu > ul > li:hover::after {
  width: 100%;
  content: "";
  color: #fff;
  padding-left: 30px;
  font-family: 'Noto Sans KR', sans-serif;
}
.hidden-wrap > .hidden-menu > ul > li:nth-child(1):hover::after {
  content: "스토어";
  padding-left: 30px;
}
.hidden-wrap > .hidden-menu > ul > li:nth-child(2):hover::after {
  content: "브랜드";
  padding-left: 30px;
}
.hidden-wrap > .hidden-menu > ul > li:nth-child(3):hover::after {
  content: "커뮤니티";
  padding-left: 30px;
}
.hidden-wrap > .hidden-menu > ul > li:nth-child(4):hover::after {
  content: "서비스";
  padding-left: 30px;
}
.hidden-wrap > .hidden-menu > ul > li:nth-child(5):hover::after {
  content: "고객센터";
  padding-left: 30px;
}
.hidden-wrap > .hidden-menu > ul > li:nth-child(6):hover::after {
  display: none;
  content: "인스타그램";
  font-size: 30px;
  background: linear-gradient(to right top, #5231B4, #BB166F, #F66723);
}
.hidden-wrap > .hidden-menu > ul > li:nth-child(7):hover::after {
  display: none;
  content: "유튜브";
  padding-left: 30px;
  background: linear-gradient(45deg, #F20746, red);
  font-size: 30px;
  font-weight: normal;
}
.hidden-wrap > .hidden-menu > ul > li:nth-child(8):hover::after {
  display: none;
  content: "블로그";
  padding-left: 30px;
  background-color: #2db400;
}

.hidden-wrap > .hidden-menu > ul > li > span > img {
  width: 49px;
  height: 49px;
  margin-top: 25px;
}
.hidden-wrap > .hidden-menu > ul > li > .two {
  margin-left: 0;
}
.hidden-wrap > .hidden-menu > ul > li > ul{
  width: 100%;
  height: 160px;
  background-color: pink;
}
.hidden-wrap > .hidden-menu > ul > li > ul > li{
  background-color: pink;
  color: blue;
}
.hidden-2-menu {
  content: "";
  background-color: black;
  top: 0;
  left: 0px;
  width: 5000px;
  height: 100vh;
  position: fixed;
  opacity: 0.6;
  transition: 0.5s;
  z-index: 98;
  display: none;
}
.hidden-2-menu.active {
  display: block;
}

.slide-wrap {
  width: 1880px;
  height: 700px;
  border-radius: 30px;
  margin: 0 auto;
  margin-top: 217px;
  position: relative;
}
.slide-wrap > .slide {
  width: 1880px;
  height: 700px;
  border-radius: 30px;
  position: relative;
}
.slide-wrap > .slide .content {
  width: 1880px;
  height: 700px;
  border-radius: 30px;
}
.slide-wrap > .slide .content01 {
  background-image: url("../img/354_pcattimg_org 1.png");
}
.slide-wrap > .slide .content01 > .txt-box {
  width: auto;
  height: auto;
  margin-top: 150px;
  margin-left: 353px;
  display: inline-block;
}
.slide-wrap > .slide .content01 > .txt-box > .title {
  color: #1682ff;
  font-size: 57px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 100;
  line-height: 70px;
}
.slide-wrap > .slide .content01 > .txt-box > .sub-title {
  font-size: 28px;
  font-weight: 100;
  margin-top: 23px;
}
.slide-wrap > .slide .content01 > .txt-box > .sub-title > .ko {
  color: #666666;
}
.slide-wrap > .slide .content01 > .txt-box > .sub-title > .en {
  color: #1682ff;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}
.slide-wrap > .slide .content01 > .txt-box > .txt {
  color: #66666;
  font-size : 16px;
  margin-top : 20px;
}
.slide-wrap > .slide .content01  .txt-box > .button {
  background: #fff;
  width: 150px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  margin-top: 23px;
  cursor: pointer;

}
.slide-wrap > .slide .content > .txt-box > .title  {
  transform: translateY(0);
  opacity: 1;
  transition: 0.5s;
  transition-delay: 0.3s;
}
.slide-wrap > .slide .content.active > .txt-box > .title {
  transform: translateY(50px);
  opacity: 0;
}
.slide-wrap > .slide .content > .txt-box > .sub-title  {
  transform: translateY(0);
  opacity: 1;
  transition: 0.5s;
  transition-delay: 0.3s;
}
.slide-wrap > .slide .content.active > .txt-box > .sub-title {
  transform: translateY(50px);
  opacity: 0;
}
.slide-wrap > .slide .content > .txt-box > .txt  {
  transform: translateY(0);
  opacity: 1;
  transition: 0.5s;
  transition-delay: 0.5s;
}
.slide-wrap > .slide .content.active > .txt-box > .txt {
  transform: translateY(50px);
  opacity: 0;
}

.slide-wrap > .slide .content > .txt-box > .button  {
  transform: translateY(0);
  opacity: 1;
  transition: 0.5s;
  transition-delay: 0.7s;
}
.slide-wrap > .slide .content.active > .txt-box > .button {
  transform: translateY(50px);
  opacity: 0;
}

.slide-wrap > .slide .content02 {
  background-image: url("../img/278_pcattimg_org 1.png");
}
.slide-wrap > .slide .content02 > .txt-box{
  width: auto;
  height: auto;
  margin-top: 205px;
  margin-left: 343px;
  display: inline-block;
}
.slide .content02 > .txt-box > .title{
  color : #fff;
  font-size: 42px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  line-height: 60px;
}
.slide .content02 > .txt-box > .txt{
  margin-top: 23px;
  color : #66666;
  font-size : 20px;
}
.slide .content02 > .txt-box > .button{
  background: #fff;
  width: 150px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  margin-top: 23px;
  cursor: pointer;
}
.slide .content03 {
  background-image: url("../img/image_19.png");
}

.slide .content03 > .txt-box{
  width: auto;
  height: auto;
  margin-top: 205px;
  margin-left: 343px;
  display: inline-block;
}
.slide .content03 > .txt-box > .title{
  color : #66666;
  font-size: 42px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  line-height: 60px;
}
.slide .content03 > .txt-box > .txt{
  margin-top: 23px;
  color : #1682ff;
  font-size : 20px;
  font-weight: bold;
}
.slide .content03 > .txt-box > .button{
  background: #fff;
  width: 150px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  margin-top: 23px;
  cursor: pointer;
}
.slide .content04 {
  background-image: url("../img/main-slide4.png");
}
.slide .content04 > .txt-box {
  width: auto;
  height: auto;
  margin-top: 150px;
  margin-left: 353px;
  display: inline-block;
}
.slide .content04 > .txt-box > .title {
  color: #1682ff;
  font-size: 57px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 100;
  line-height: 70px;
}
.slide .content04 > .txt-box > .sub-title {
  font-size: 28px;
  font-weight: 100;
  margin-top: 23px;
}
.slide .content04 > .txt-box > .sub-title > .ko {
  color: #666666;
}
.slide .content04 > .txt-box > .sub-title > .en {
  color: #1682ff;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}
.slide .content04 > .txt-box > .txt {
  color: #66666;
  font-size : 16px;
  margin-top : 20px;
}
.slide .content04 > .txt-box > .button {
  background: #fff;
  width: 150px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  margin-top: 23px;
  cursor: pointer;
}
.slide .content05 {
  background-image: url("../img/main-slide5.png");
}
.slide .content05 > .txt-box {
  width: auto;
  height: auto;
  margin-top: 150px;
  margin-left: 353px;
  display: inline-block;
}
.slide .content05 > .txt-box > .title {
  color: #1682ff;
  font-size: 57px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 100;
  line-height: 70px;
}
.slide .content05 > .txt-box > .sub-title {
  font-size: 28px;
  font-weight: 100;
  margin-top: 23px;
}
.slide .content05 > .txt-box > .sub-title > .ko {
  color: #666666;
}
.slide .content05 > .txt-box > .sub-title > .en {
  color: #1682ff;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}
.slide .content05 > .txt-box > .txt {
  color: #66666;
  font-size : 16px;
  margin-top : 20px;
}
.slide .content05 > .txt-box > .button {
  background: #fff;
  width: 150px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  margin-top: 23px;
  cursor: pointer;
}
.slick-dots{
  position: absolute;
  bottom: 10px;
}
.slide-wrap > .left-btn{
  width: 67px;
  height: 90px;
  position: absolute;
  top : 50%;
  left : 15%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.slide-wrap > .right-btn{
  width: 67px;
  height: 90px;
  position: absolute;
  top : 50%;
  right : 10%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.section.section01{
  width: 100%;
  height: 635px;
  margin-top: 150px;
}
.section.section01 > .con{
  height: 100%;
  box-sizing: border-box;
  position: relative;
}
.title-bg{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.title-bg > span{
  width: 14px;
  height: 14px;
  background-color: #1682ff;
  display: inline-block;
  border-radius: 50%;
  margin-right: 5px;
  margin-left: 5px;
}
.title-bg > span:nth-child(2){
  background-color: #7864FF;
}
.title-bg > span:nth-child(3){
  background-color: #00CFC6;
}
.section.section01 > .con > .title-box{
  margin-top: 5px;

}

.section.section01 > .con > .title-box > .title{
  width: 100%;
  height: auto;
  text-align: center;
  background : linear-gradient(to right top, #1682ff, #39CCFB);
  color: transparent;
  -webkit-background-clip: text;
  font-size: 57px;
  font-weight:600;
}
.section.section01 > .con > .title-box > .txt{
  width: 100%;
  height: auto;
  text-align: center;
  color : #666666;
  font-size: 22px;
  font-weight:100;
  margin-top: 18px;
}
.section.section01 > .con > .content-wrap{
  /* display: flex;
  justify-content: space-between; */
}

.section.section01 > .con > .content-wrap > .content-box{
  width: 239px;
  height: 399px;
  margin-top: 74px;
  text-align: center;
  margin-right: 154px;
}
.section.section01 > .con > .content-wrap > .content-box:nth-child(4){
  margin-right: 0;
}
.section.section01 > .con > .content-wrap > .content-box > .img-box{
  width: 239px;
  height: 239px;
}
.section.section01 > .con > .content-wrap > .content-box > .txt-box{
  width: 239px;
  height: auto;
  margin-top: 44px;
 
}
.section.section01 > .con > .content-wrap > .content-box > .txt-box > .title{
  font-size: 28px;
  color : #444444;
  font-weight: 500;
}
.section.section01 > .con > .content-wrap > .content-box > .txt-box > .txt{
  color: #999999;
  font-size: 16px;
  margin-top: 8px;
}

.section02{
  width: 100%;
  height: 888px;
  background-color: #F2F4F5;
  margin-top: 150px;
  background-image: url(../img/sec2-banner.png);
}
.section02 > .con{
  height: 100%;
  padding-top: 59px;
  box-sizing: border-box;
}
.section02 > .con > .title{
  text-align: center;
  font-size: 45px;
  color: #666666;
}
.section02 > .con > .title > .p1{
  letter-spacing: -3px;
  font-weight: 500;
}
.section02 > .con > .title > .p2{
  color: #1682ff;
  font-weight:lighter;
  
}
.section02 > .con > ul{
  display: flex;
  margin-top: 35px;
  justify-content: center;
}
.section02 > .con > ul > li{
  /* width: 100px;
  height: 24px; */
  text-align: center;
  margin-right: 40px;
  margin-left: 40px;
  font-size: 16px;
  cursor: pointer;
  /* background-color: #fdc; */
}
.section02 > .con > ul > li.active{
  
  color: #1682ff;
  font-weight:bold;
  border-bottom: 1px solid #1682ff;
}

.section02 > .con > .content-wrap{
  width: 1420px;
  height: 600px;
  margin-top: 59px;
  display: none;
  transition: 0.3s;
}
.section02 > .con > .content-wrap.active{
  display: block;
}
.section02 > .con > .content-wrap > .content-box{
  width: 427px;
  height: 600px;
  background-color: #fff;
  margin-right: 69.5px;
}
.section02 > .con > .content-wrap > .content-box:nth-child(3){
  margin-right: 0;
}
.section02 > .con > .content-wrap > .content-box > .img-box > img{
  width: 300px;
  height: 300px;
  margin-top: 49px;
  margin-left: 63px;
}
.section02 > .con > .content-wrap > .content-box > .txt-box{
  text-align: center;
  width: 100%;
  height: auto;
  margin-top: 63px;
}
.section02 > .con > .content-wrap > .content-box > .txt-box > .title{
  color : #1682ff;
  font-size: 22px;
}
.section02 > .con > .content-wrap > .content-box > .txt-box > .sub-title{
  color : #666666;
  font-size: 22px;
  font-weight: 100;
}
.section02 > .con > .content-wrap > .content-box > .more{
  width: 100%;
  height: auto;
  margin-top: 63px;
  color: #999999;
  text-align: center;
  cursor: pointer;
}

.section03{
  width: 100%;
  height: 928px;
  margin-top: 150px;
}
.section03 > .con{
  height: 100%;
  padding-top: 64px;
}
.section03 > .con > .title{
  text-align: center;
  color : #666666;
  font-size: 45px;
  margin-top: 15px;
  font-weight: 600;
}
.section03 > .con > .sub-title{
  text-align: center;
  color : #1682ff;
  font-size: 16px;
  font-weight: bold;
  margin-top: -10px;
}
.section03 > .con > .content-wrap{
  width: 100%;
  height: 638px;
  margin-top: 56px;
  display: flex;
  justify-content: space-between;
}
.section03 > .con > .content-wrap > .content-box{
  width: 328px;
  height: 100%;
  background-color: #fff;
  border-radius: 0px;
  box-shadow: 0 10px 10px 4px #ddd;
  box-sizing: border-box;
  padding: 35px 39px;
  cursor: pointer;
}
.section03 > .con > .content-wrap > .content-box:hover{
  transition: 0.5s;
  box-shadow: 0 20px 20px 4px gray;
}

.section03 > .con > .content-wrap > .content-box > .content{
  width: 249px;
  height: auto;
}
.section03 > .con > .content-wrap > .content-box > .content > .img-box{
  width: 249px;
  height: 310px;
}
.section03 > .con > .content-wrap > .content-box > .content > .grade{
  width: 100%;
  height: auto;
  margin-top: 12px;
  color: #1682ff;
  font-size: 22px;
}
.section03 > .con > .content-wrap > .content-box > .content > .title{
  width: 100%;
  height: auto;
  font-size: 16px;
  color : #666666;
  font-weight: bold;
  margin-top: 12px;
}
.section03 > .con > .content-wrap > .content-box > .content > .txt{
  margin-top: 12px;
  width: 100%;
  height: auto;
  font-size: 12px;
  color: #666666;
}

.section03 > .con > .content-wrap > .content-box > .content > .id{
  margin-top: 12px;
  width: 100%;
  height: auto;
  font-size: 12px;
  color: #999999;
}
.section03 > .con > .content-wrap > .content-box > .content > .information{
  margin-top: 12px;
  width: 100%;
  height: auto;
  font-size: 12px;
  color: #999999;
  display: flex;
  justify-content: space-between;
}
.section03 > .con > .content-wrap > .content-box > .content > .information > .img-box{
  width: 72.5px;
  height: 72.5px;
}
.section03 > .con > .content-wrap > .content-box > .content > .information > .txt-box{
  width: 168px;
  height: 100%;
}
.section03 > .con > .content-wrap > .content-box > .content > .information > .txt-box >.title{
  font-size: 12px;
  color: #1682ff;
}

.section03 > .con > .content-wrap > .content-box > .content > .information > .txt-box >.txt{
  font-size: 12px;
  color: #666666;
}
.section03 > .con > .content-wrap > .content-box > .content > .information > .txt-box >.txt{
  font-size: 12px;
  color: #666666;
}

.section03 > .con > .content-wrap > .content-box > .content > .information > .txt-box > .price{
  font-size: 12px;
  color: #666666;
  margin-top: 4px;
}

.section03 > .con > .content-wrap > .content-box > .content > .information > .txt-box > .price > p > span{
  color: #C39F66;
}
.section03 > .con > .more{
  margin-top: 36px;
  font-size: 14px;
  color: #999999;
  display: flex;
  justify-content: center;
}
.section03 > .con > .more > a{
  margin: 0 auto;
}
.special-section{
  width: 100%;
  height: 879px;
  margin-top: 150px;
  position: relative;
}
.special-section > .con{
  height: auto;
}
.special-section > .con > .title{
  width: 100%;
  height: 100%;
  text-align: center;
  margin-top: 20px;
}
.special-section > .con > .title > .title-one{
  font-size: 18px;
  color: #070707;
  letter-spacing: -1px;
}
.special-section > .con > .title > .title-two{
  font-size: 57px;
  color: #070707;
  margin-top: -15px;
}
.special-section > .con > .title > .title-two > span{

  color: #1682ff;
}
.special-section > .main-wrap{
  width: 100%;
  height: 736px;
  margin-top: 23px;
  position: relative;
}
.special-section > .main-wrap > .main-box{
  width: 100%;
  height: 736px;

  display: flex; 
  align-items: flex-end;
}
.special-section > .main-wrap > .main-box > .blue-box{
  width: 1257px;
  height: 588px;
  background-color: #1682ff;
}
.special-section >  .main-wrap  > .ad-box{
  z-index: 10;
  background-color: #fdc;
  width: 960px;
  height: 540px;
  position: absolute;
  top : 0;
  left: 50%;
  transform: translatex(-50%);
}

.section04{
  width: 100%;
  height: 559px;
  margin-top: 150px;
  background-color: #F2F4F5;
  padding-top: 20px;
}

.section04 > .title{
  text-align: center;
  color : #666666;
  font-size: 45px;
  margin-top: 15px;
  font-weight: 600;
}
.section04 >  .sub-title{
  text-align: center;
  color : #1682ff;
  font-size: 16px;
  font-weight: bold;
  margin-top: -10px;
}
.section04 >  .txt {
  font-size: 18px;
  color: #666666;
  margin-top: 12px; 
  line-height: 50px;
  font-weight: 400;
  text-align: center;
}
.section04 > .swiper{
  margin-top: 12px;
}


.section05{
  width: 100%;
  height: auto;
  margin-top: 150px;
}
.section05 > .con{
  width: 1420px;
  height: auto;
}
.section05 > .con > .title{
  text-align: center;
  color : #666666;
  font-size: 45px;
  margin-top: 15px;
  font-weight: 600;
}
.section05 > .con > .sub-title{
  text-align: center;
  color : #1682ff;
  font-size: 16px;
  font-weight: bold;
  margin-top: -10px;
}
.section05 > .con > .content-wrap{
  width: 100%;
  height: auto;
  margin-top: 40px;
}
.section05 > .con > .content-wrap > .content-box{
  width: 700px;
  height: 300px;
  margin-right: 20px;
  border-radius: 30px;
  padding-top: 76px;
  padding-left: 36px;
  cursor: pointer;
}
.section05 > .con > .content-wrap > .content-box:nth-child(5){
  margin-top: 24px;
  background-color: #ddf;
  margin-right: 0;
  
}
.section05 > .con > .content-wrap > .content-box:nth-child(2){
 margin-right: 0;
}
.section05 > .con > .content-wrap > .content-boxsm{
  width: 340px;
  height: 300px;
  background-color: skyblue;
  margin-top: 24px;
  margin-right: 20px;
  border-radius: 30px;
  padding-top: 76px;
  padding-left: 36px;
  cursor: pointer;
}
.section05 > .con > .content-wrap > .content-box01{
  background-image: url(../img/news1.png);
}


.section05 > .con > .content-wrap > .content-box02{
  background-image: url(../img/news2.png);
}


.section05 > .con > .content-wrap > .content-box03{
  background-image: url(../img/news3.png);
}


.section05 > .con > .content-wrap > .content-box04{
  background-image: url(../img/new4.png);
}


.section05 > .con > .content-wrap > .content-box05{
  background-image: url(../img/new5.png);
}


.section05 > .con > .content-wrap > .content-box > .txt-box{
  width: auto;
  height: auto;

}

.section05 > .con > .content-wrap > .content-box > .txt-box > .title{
  font-size: 24px;
  color: #666666;
}
.section05 > .con > .content-wrap > .content-box > .txt-box > .sub-title{
  font-size: 24px;
  font-weight:normal;
  color: #666666;
  margin-top: 10px;
}
.section05 > .con > .content-wrap > .content-box > .txt-box > .txt{
  margin-top: 22px;
  color: #666666;
  font-size: 14px;
  font-weight:lighter;
}
.section05 > .con > .content-wrap > .content-box > .txt-box > .txt > p{
  margin-bottom: 5px;
}



.section05 > .con > .content-wrap > .content-boxsm > .txt-box > .title{
  font-size: 23px;
  font-weight:lighter;
  color: #666666;
}
.section05 > .con > .content-wrap > .content-boxsm > .txt-box > .sub-title{
  font-size: 23px;
  font-weight:normal;
  color: #666666;
  margin-top: 10px;
}
.section05 > .con > .content-wrap > .content-boxsm > .txt-box > .txt{
  margin-top: 22px;
  color: #666666;
  font-size: 12px;
  font-weight:lighter;
}
.section05 > .con > .content-wrap > .content-boxsm > .txt-box > .txt > p{
  margin-bottom: 5px;
}

.section06{
  width: 100%;
  height: auto;
  margin-top: 150px;
}
.section06 > .con{
  height: auto;
}
.section06 > .con > .title{
  text-align: center;
  color : #666666;
  font-size: 45px;
  margin-top: 15px;
  font-weight: 600;
}
.section06 > .con > .content-wrap{
  width: 100%;
  height: auto;  
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 54px;
}
.section06 > .con > .content-wrap > .content-box{
  box-sizing: border-box;
  padding-top: 37px;
  padding-left: 36px;
}
.section06 > .con > .content-wrap > .content-box > .txt-box{
  width: auto;
  height: auto;
  display: inline-block;
}
.section06 > .con > .content-wrap > .content-box > .txt-box > .title{
  width: auto;
  height: 40px;
  font-weight: bold;
  font-size: 16px;
  line-height: 40px;
  font-family: "Noto Sans KR", sans-serif;
}

.section06 > .con > .content-wrap > .content-box > .txt-box > .tel{
  width: auto;
  height: 40px;
  font-weight: 400;
  font-size: 48px;
  line-height: 40px;
  font-family: "Noto Sans KR", sans-serif;
  margin-top: 11px;
}

.section06 > .con > .content-wrap > .content-box > .txt-box > .name{
  width: auto;
  height: 40px;
  font-weight: bold;
  font-size: 16px;
  line-height: 40px;
  font-family: "Noto Sans KR", sans-serif;
  margin-top: 15px; 
}

.section06 > .con > .content-wrap > .content-box01{
  width: 700px;
  height: 220px;
  border-radius: 30px;
  background-image: url(../img/call1.png);
  color: #fff;
}

.section06 > .con > .content-wrap > .content-box02{
  width: 700px;
  height: 220px;
  border-radius: 30px;
  background-image: url(../img/call2.png);
  color: #1682ff;
}

.section06 > .con > .content-wrap  >  a > .content-box03{
  width: 460px;
  height: 220px;
  border-radius: 30px;
  background-image: url(../img/sec6-insta.png);
  margin-top: 20px;
}
.section06 > .con > .content-wrap > a > .content-box04{
  width: 460px;
  height: 220px;
  border-radius: 30px;
  background-image: url(../img/sec6-youtube.png);
  margin-top: 20px;
}
.section06 > .con > .content-wrap > a > .content-box05{
  width: 460px;
  height: 220px;
  border-radius: 30px;
  background-image: url(../img/sec6-blog.png);
  margin-top: 20px;
}

.footer{
  width: 100%;
  height: 284px;
  background-color: #1682ff;
  margin-top: 100px;
}
.footer > .con{
  height: 100%;
}
.footer > .con > .top-wrap{
  color: #fff;;
}
.footer > .con > .top-wrap > .list{
  display: flex;
}
.footer > .con > .top-wrap > .list > li{
  margin-right: 16px;
  margin-top: 40px;
  font-size: 14px;
}
.footer > .con > .top-wrap > .icon{
  display: flex;
  margin-top: 20px;
}
.footer > .con > .top-wrap > .icon > li{
  margin-left: 14px;
}
.footer > .con > .image{
  margin-top: 8px;
  width: 146px;
  height: 29px;
}
.footer > .con > .txt-box{
  width: auto;
  height: auto;
  color: #fff;
  margin-top: 25px;
  font-size: 12px;
}
.footer > .con > .txt-box > p{
  margin-top: 8px;
}
.slide .slick-dots li button:before{
  color: #1682ff;
  font-size:20px;
}
.slide .slick-dots li.slick-active button::before {
  color:#1682ff;
}
.top-btn{
  width: 75px;
  height: 75px;
  background : linear-gradient(to right top, #1682ff, #05bffd);
  position: fixed;
  bottom: 50px;
  right: 50px;
  border-radius: 50%;
  color : #fff;
  text-align: center;
  line-height: 92px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  z-index: 99;
}
.top-btn.active{
  opacity: 1;
  visibility: visible;
  transition: 0.3s;
}

.side-fixed-bar{
  position: fixed;
  top : 50%;
  right : -80px;
  transform: translateY(-50%);
  width: 80px;
  height: 521.5px;
  background-color: #1682ff;
  border-bottom-left-radius: 20px;
  z-index: 100;
  border-top-left-radius: 20px;
  transition: 0.5s;
  box-sizing: border-box;
  padding-top: 25px;
  padding-bottom: 25px;
}
.side-fixed-bar.active{
  right: 0;
transition: 0.5s;
}
.side-fixed-bar > ul > li{
  color: #fff;
  width: 80px;
  height: auto;
  margin-top: 15px;
  font-size: 12px;
}
.side-fixed-bar > ul > li > a > img{
  width: 45px;
  height: 45.5px;
  margin: 0 auto;
}
.side-fixed-bar > ul > li > a > .txt{
  margin-top: 8px;
  text-align: center;
}

.side-fixed-bar > .side-left{
  position: absolute;
  top: 50%;
  right : 100%;
  transform: translateY(-50%);
  width: 43px;
  height: 168px;
  background-image: url(../img/left1.png);
  cursor: pointer;
}
.side-fixed-bar > .side-left > img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}




.swiper {
  width: 1920px;
  height: 308.75PX;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #aff;


  /* Center slide text vertically */
/*         display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; */
}

.swiper-slide a img {
  display: block;
  width: 248px;
  height: 308.77px;
  object-fit: cover;
  background-color: #dfa;
}
